.locationsection {
  height: 900px;
  background-color: #E5E5E5;
}
.locationsectionflex {
  display: flex;
  justify-content: space-between;
}
.locationsection1 {
  height: 900px;
  min-width: 50%;
  overflow: hidden;
}
.locationsection2 {
  min-height: 900px;
  min-width: 50%;
}
.locationsectionheadding {
  margin-top: 101px;
  margin-bottom: 35px;
  margin-left: 83px;
  font-size: 38px;
}
.locationsectionimage {
  position: relative;
  left: -83px;
  display: none;
}
.loactionsectionparagraph {
  max-width: 524px;
  margin-top: 69px;
  margin-left: 91px;
  font-size: 26px;
  line-height: 45px;
 /* padding-bottom: 100px;*/
}
